
/* Personaliza el color de fondo */
 .titulo{
    background-color: black; /* Color de fondo negro */
    height: 7vh; /* Altura del título */
    color: white; /* Color del texto */
    font-size: 3.5vh; /* Tamaño de la fuente */
    text-align: center; /* Alineación del texto al centro */
    line-height: 5vh; /* Altura de línea para centrar verticalmente */
}
.navbar {
    color: white; /* Color del texto */
    text-decoration: none; /* Quita el subrayado */
    font-family: Arial, sans-serif; /* Tipo de fuente */
    font-size: 4vh; /* Tamaño de la fuente */
}
.psub{
    height: 5vh;
    color: gold;
    font-size: 5vh;
    text-align: center;
    line-height: 5vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
.img_lateral{
    background-size: cover; /* Escala la imagen para cubrir todo el contenedor */
    background-position: center; /* Posiciona la imagen en el centro */
    height: 95vh; /* Altura del div con la imagen */
    background-image: url('./assets/img/barbe2.png'); /* Ruta de la imagen de fondo */
}
.img_restorepass{
    background-size: cover; /* Escala la imagen para cubrir todo el contenedor */
    background-position: center; /* Posiciona la imagen en el centro */
    height: 95vh; /* Altura del div con la imagen */
    background-image: url('./assets/img/restore.png'); /* Ruta de la imagen de fondo */
}
.img_lateral_crea{
    background-size: cover; /* Escala la imagen para cubrir todo el contenedor */
    background-position: center; /* Posiciona la imagen en el centro */
    height: 95vh; /* Altura del div con la imagen */
    background-image: url('./assets/img/barbe3.png'); /* Ruta de la imagen de fondo */
}

.pcorreo{
    color:black;
    font-size: 23px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.banner{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    

}
.ppagina{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 23px;
    color: black;
}
.social-logo{
    width: 50px; /* Ancho completo */
    max-width: 200px; /* Ancho máximo */
    display: block; /* Para centrar horizontalmente */
    margin: 0 auto; /* Para centrar horizontalmente */
    margin-bottom: 20px; /* Margen inferior */
    
}
.login{
    background-image: url('./assets/img/patern.png');
    height: 95vh; /* Misma altura que el div de la imagen */
    padding: 40px; /* Espacio interno */
}

/* Estilo para la imagen de inicio de sesión */
.login-logo{
    width: 100%; /* Ancho completo */
    max-width: 200px; /* Ancho máximo */
    display: block; /* Para centrar horizontalmente */
    margin: 0 auto; /* Para centrar horizontalmente */
    margin-bottom: 20px; /* Margen inferior */
}
.vinculo{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}