
.banner{
    background-color: black;
    font-family: 'Tahoma';
    height: 40px;
}

h1{
    height: 25px;
    color: white;    
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

h2{
    font-size: small;
    color:black;
    text-align: center; 
}

.contenedor{
    display: flex;
}


button{
    border:1px solid yellow;
}
